<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <add key="url" value="https://gis.maine.gov/arcgis/rest/services/Location/Maine_E911_Addresses_Roads_PSAP/MapServer/1/query" />
      <add key="query" value="where=MUNICIPALITY='Cumberland'&outFields="ADDRESS_NUMBER,STREETNAME,SUFFIX,MUNICIPALITY,Latitude,longitude"&f=pjson" />
      <add key="outFilename" value="output.txt" />
   </appSettings>
</configuration>